/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #1e3a8a; /* Blue color */
    color: white;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

header .logo {
    position: absolute;
    top: 50px;
    left: 20px;
}

header .logo img {
    height: 80px;
    width: auto;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 10px 0 0;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    header {
        padding: 20px 0; /* Reduce padding on smaller screens */
    }

    header .logo {
        position: static; /* Reset position for logo to make it flow with content */
        margin-bottom: 10px; /* Add some margin below logo */
        text-align: center; /* Center logo on small screens */
    }

    header h1 {
        font-size: 2em; /* Reduce font size for header text */
    }

    header p {
        font-size: 1em; /* Reduce font size for subheading text */
    }
}


section {
    padding: 50px 0;
    text-align: center;
}

#about {
    background-color: #d1fae5; /* Light green background */
}

#about p {
    max-width: 810px;
    margin: 20px auto 0;
    text-align: left;
}

#experience {
    background-color: #f6f6f6;
}

#experience p {
    max-width: 810px;
    margin: 20px auto;
    text-align: left;
    line-height: 1.6;
}

#inspiration {
    background-color: #fb923c; /* Orange color */
    color: white;
}

#inspiration p {
    max-width: 810px;
    margin: 20px auto 0;
    text-align: left;
}

footer {
    background-color: #1e3a8a; /* Blue color */
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
